body{

font-family:Arial;

background:#f5f5f5;

padding:40px;

}

h1{

color:#1565C0;

}

button{

padding:10px 20px;

background:#1565C0;

color:white;

border:none;

border-radius:5px;

cursor:pointer;

}
